* { margin: 0; padding: 0; }

body
{
    font-family: Arial;
    font-size: 1em;
    color: #FFFFFF;
    margin-top: 0 !important;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0;
    background-color: #222222;
    /* background-image: url("paleolithic.jpg"); */
}

h1
{
    padding-top: 0.3em;
    text-align: left;
    font-family: sans-serif;
}

h2
{
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    border-bottom: 2px solid;
}

div.header
{
    background-color: #222222;
    background-image: url("stonehenge_header.jpg");
    background-repeat: no-repeat;
    height:314px;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}

div.post
{
    padding-top:0.5em;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    background-color: #333333;
}

div.post_header {
    width: 100%;
}

div.post span.title
{
    width: 80%;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 2.2em;
}

div.post span.date
{
    width: 20%;
    font-size: 0.8em;
    display: block;
}

div.post div.content
{
    font-family: Helvetica, arial;
    width: 80%;
    clear: both;
    margin-top: 3em;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
}