* { margin: 0; padding: 0; }

body
{
    font-family: Arial;
    font-size: 1em;
    color: #FFFFFF;
    margin-top: 0 !important;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0;
    background: #AAAAAA url("bkg_main.jpg") repeat-x scroll 0 0;
}

h1
{
    padding-top: 0.3em;
    padding-left: 0.8em;
    text-align: left;
    font-family: sans-serif;
}

h2
{
    margin-top: -10px;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    border-bottom: 2px solid;
}

div.header
{
    background-color: #222222;
    background-image: url("stonehenge_header.jpg");
    background-repeat: no-repeat;
    height:314px;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}

div.post
{
    padding-top:0.5em;
    margin-right: auto;
    padding-left: 1em;
    width: 60%;
}

div.post_header {
    width: 100%;
    padding-left: 0.5em;
}

div.post span.title
{
    width: 80%;
    text-align: left;
    font-family: Helvetica;
    font-size: 2.2em;
    color: #FFFF44;
}

div.post span.date
{
    width: 40%;
    font-size: 0.8em;
    font-style: italic;
    display: block;
}

div.site_content
{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

div.post div.content
{
    font-family: Helvetica, arial;
    clear: both;
    margin-top: 3em;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;

}

div.post div.comments
{
    margin-top: 2em;
    margin-left: 0.5em;
}

div.post div.comments span
{
    font-size: 1.5em;
    color: #FFFF44;

}

div.post div.comments p
{
    display: block;
    font-style: italic;
    margin-top: 1em;
}

div.post div.post_footer
{
    margin-top: 1em;
    border-top: solid 1px;
    margin-bottom: 0.5em;
}